# Java
*.class
*.log
hs_err_pid*
replay_*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/*
!.vscode/extensions.json   # keep only recommended extensions (optional)

# OS cruft
.DS_Store
Thumbs.db

# Test/coverage artifacts
.surefire-*
.failsafe-*
.site/

